@charset "UTF-8";

/* 全体に適用 */

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Noto Sans JP";
  font-size: 16px;
  color: #384359;
}

a {
  text-decoration: none;
  color: #384359;
  font-weight: bold;
}

h6 {
  font-size: 23px;
  color: #007979;
}

/* css で class 化して html に適用 */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.position-absolute {
  position: absolute;
}

.px-20 {
  padding: 0 20px;
}

/* 個別に適用 */

.header__container {
  width: 1920px;
}

.header__logo {
  margin-left: 361px;
  width: 128px;
  height: 45.44px;
}

.header__items {
  margin-left: 180px;
  width: 600px;
  font-size: 15px;
  list-style: none;
}

.header__items-li {
  border-right: solid 1px;
}

.header__items-li:last-child {
  border-right: none;
}

.header__btn {
  background: #007979;
  color: #ffffff;
  width: 244px;
  height: 75px;
  font-weight: bold;
  gap: 0px 10px;
  margin-left: 31px;
}

.header__btn:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.header__btn img {
  height: 18px;
  width: 18px;
}

.hero01__container {
  position: relative;
  width: 1920px;
}

.hero01__logo {
  left: 444px;
  top: 107px;
}

.hero01__title-hr {
  width: 773px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  left: 138px;
  top: 270px;
}

.hero01__title {
  left: 143.24px;
  top: 238px;
}

.hero01__txt01 {
  left: 199px;
  top: 312px;
  width: 648px;
  color: #007979;
}

.hero01__txt02 {
  left: 394px;
  top: 405px;
  color: #007979;
  font-weight: bold;
}

.hero01__btn {
  left: 380px;
  top: 432px;
  width: 284px;
  height: 66px;
  gap: 0px 15px;
  font-size: 20px;
  color: #ffffff;
  background: linear-gradient(to right, #2ea1aa, #06bc7a);
  border-radius: 4px;
  filter: drop-shadow(4px 4px 20px #ffffff);
}

/* 横幅 375px 以下に適用 */

@media (max-width: 375px) {
  .main__container {
    width: 375px;
    margin: 0 auto;
  }

  .header__container {
    width: 375px;
    height: 67px;
  }

  .header__logo {
    margin-left: 14px;
    width: 128px;
    height: 45.44px;
  }

  .header__items {
    display: none;
  }

  .header__btn {
    font-size: 11px;
    width: 170px;
    height: 65px;
    gap: 0px 5px;
    margin-left: 61px;
    font-size: 11px;
    width: 170px;
    height: 65px;
    font-weight: 600;
    gap: 0px 5px;
    margin-left: 61px;
  }

  .header__btn:hover {
    opacity: 0.7;
    transition: 0.5s;
  }

  .header__btn img {
    height: 13px;
    width: 13px;
  }
}
